<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Habits">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Habits">
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-180x180-precomposed.png">
    <title>Welcome | Habits</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  </head>

  <body>
    <header class="AppHeader">
      <h1 class="AppHeader-logo">
        <%= link "Habits", to: "/" %>
      </h1>
      <nav class="AppHeader-nav">
        <ul>
          <%= if logged_in?(@conn) do %>
            <li><%= link "Me", to: account_path(@conn, :show) %></li>
            <li><%= link "Log Out", to: session_path(@conn, :delete) %></li>
          <% else %>
            <li><%= link "Log In", to: session_path(@conn, :new) %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <main class="AppMain">
      <p class="SlideAlert SlideAlert--info" role="Alert"><%= get_flash(@conn, :info) %></p>
      <p class="SlideAlert SlideAlert--danger" role="Alert"><%= get_flash(@conn, :error) %></p>

      <div class="AppMain-content">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <footer class="AppFooter">
      <p>Make it a great day.</p>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
