.muted {
  opacity: .5;
}

.mt0 {
  margin-top: 0;
}

.ta-c {
  text-align: center;
}

.d-b {
  display: block;
}

.fs-l {
  font-size: 1.25em;
}

.fs-xl {
  font-size: 4em;
}

.h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}
