$blue: #38a8b6;
$blue-green: #6ac4cc;
$sea-green: #9bdcd6;
$green: #c6d9bd;
$warm: #e2a77f;

$red: #D13F54;

$error-color: $red;

$text-color: #fff;
$body-text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
$light-border-color: rgba(255, 255, 255, .25);

$light-border: 1px solid $light-border-color;

$vertical-spacing: 1rem;
$base-padding: $vertical-spacing / 2;

$zindex-alerts: 1;
