.Progress {
  width: calc(100% + 2rem);
  margin: 0 -1rem;
  height: .25rem;
  background-color: rgba(255,255,255,.1);

  &-bar {
    transition: width ease .25s;
    height: 100%;
    width: 0;
    min-width: 1%;
    background-color: rgba(255,255,255,.75);
    box-shadow: 0 0 1px rgba(255,255,255,.25);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 2px;
      background: rgba(255,255,255,1);
      box-shadow: 0 0 2px rgba(255,255,255,1);
      height: 100%;
    }
  }
}
