.Achievement {
  margin-bottom: $vertical-spacing;
  text-align: left;
  display: flex;
  align-items: center;

  &-icon {
    font-size: 3em;
    position: relative;
    opacity: .5;

    .Achievement--completed & {
      opacity: 1;
    }
  }

  &-text {
    margin-left: $vertical-spacing;
  }
}
