.InlineForm {
  display: flex;
  align-items: stretch;

  &-input {
    margin: 0;
  }

  &-button {
    margin-left: 2px;
    padding: .5rem;
    border: 0;
    max-height: 100%;
    background-color: rgba(255,255,255,.25);
  }
}
