@keyframes notification {
  0%, 100% { opacity: 0; }
  10%, 80% { opacity: 1; }
}

.NotificationList {
  position: absolute;
  top: 55px;
  width: 100%;
  height: 55px;

  &-list {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    list-style: none;
  }

  &-item {
    position: absolute;
    z-index: $zindex-alerts;
    top: 0;
    left: 0;
    background: radial-gradient(mix(#fff, $warm, 25%), $warm);
    color: $text-color;
    width: 100%;
    height: 55px;
    margin: 0;
    padding: .4rem 1rem;
    text-align: center;
    font-weight: bold;
    opacity: 1;
    animation: notification 3s 0s 1;
  }

  &-subject {
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: .1em;
    display: inline-block;
  }
}
