@import "normalize";
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background-image: linear-gradient($blue, $blue-green, $sea-green, $green, $warm);
}

body {
  font-family: "Lato", sans-serif;
  color: $text-color;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: $base-padding;
}

a {
  color: $text-color;
}

.TextInput {
  display: block;
  padding: $base-padding;
  width: 100%;
  margin-bottom: $vertical-spacing;
  border: 0;
  background-color: rgba(255,255,255,.25);
}

.Button {
  @include round;
  color: $text-color !important;
  background-color: $blue;
  border: 0;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 100%;
  margin: $vertical-spacing 0;
  padding: $base-padding;
}

.AppHeader {
  color: $text-color;
  overflow: hidden;
  padding: $base-padding $base-padding * 2;

  &-logo {
    margin: 0;
    float: left;

    a {
      text-decoration: none;
    }
  }

  &-nav {
    float: right;

    ul {
      list-style: none;
      margin: $base-padding;
    }

    li {
      display: inline-block;
      margin-left: $base-padding;
    }
  }

  a {
    color: inherit;
  }
}

.AppMain {
  padding: $vertical-spacing;
}

.AppFooter {
  color: $text-color;
  padding: 0 $vertical-spacing / 2;
  margin: $base-padding * 2;
  text-align: center;
}

.Alert {
  @include round;
  padding: 0 $base-padding;
  overflow: hidden;
  margin-bottom: $vertical-spacing;

  &:empty {
    display: none;
  }

  &--danger {
    color: $error-color;
    background-color: mix($error-color, #fff, 10%);
  }
}

.DateNav {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,.05);
  margin: $vertical-spacing * -1 $vertical-spacing * -1 0;

  &-arrow {
    font-size: 2em;
    width: 1.5em;
    cursor: pointer;

    a {
      display: inline-block;
      position: relative;
      bottom: 2px;
      padding: .25em .5em;
      color: rgba(255,255,255,.75);
      text-decoration: none;
    }
  }
}

.HabitList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Habit {
  border-top: $light-border;
  &:first-child { border-top: 0; }
  cursor: pointer;
  padding: $vertical-spacing 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-name {
    color: $text-color !important;
    text-decoration: none;
    font-weight: bold;
    flex-grow: 1;
  }

  &-streak {
    margin-left: 1em
  }
}

.CheckInButton {
  @include round(1.5em);
  display: inline-block;
  background: none;
  height: 1.5em;
  width: 1.5em;
  padding: 0;
  margin-right: $base-padding;
  text-indent: -999em;
  border: 2px solid $text-color;

  &--checkedIn {
    background-color: $text-color;
  }
}

@keyframes slide-alert {
  0%, 100% { transform: translateY(-100%) }
  10%, 90% { transform: translateY(0) }
}

.SlideAlert {
  position: absolute;
  z-index: $zindex-alerts;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.75);
  color: $blue;
  width: 100%;
  margin: 0;
  padding: 1rem;
  transform: translateY(-100%);
  animation: slide-alert 2s 0s 1;

  &:empty {
    display: none;
  }
}

.center {
  text-align: center;
}

.Avatar {
  width: 200px;
  border-radius: 50%;
}

.Metric {

  &-title {
    display: block;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
  }

  &-number {
    display: block;
    font-size: 4em
  }
}

.FooterNav {
  display: flex;
  justify-content: space-between;
}

.ActionList {
  list-style: none;
  margin: 0;
  padding: 0;
  text-shadow: none;

  &-item {
    @include round;
    background: #fff;
    color: rgba(0,0,0,.666);
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
  }

  &-itemMeta {
    font-size: .875em;
    color: rgba(0,0,0,.333);
  }

  &-action {
    color: rgba(0,0,0,.2);
    text-decoration: none;
    font-size: 1.5em;
    line-height: .666666667em;
    font-weight: bold;
  }
}

.Progress {
  width: calc(100% + 2rem);
  margin: 0 -1rem;
  height: .25rem;
  background-color: rgba(255,255,255,.25);

  &-bar {
    transition: width ease .25s;
    height: 100%;
    width: 0;
    min-width: 1%;
    background-color: rgba(255,255,255,.75);
    box-shadow: 0 0 1px rgba(255,255,255,.25);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 2px;
      background: rgba(255,255,255,1);
      box-shadow: 0 0 2px rgba(255,255,255,1);
      height: 100%;
    }
  }
}

// Hat tip: http://tobiasahlin.com/spinkit/
@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.LoadingIndicator {
  width: 3em;
  height: 3em;
  background-color: $text-color;
  opacity: .75;

  margin: 5em auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}
