<h1><%= @habit.name %></h1>

<p>Soon, I'll show things here like:</p>
<ul>
  <li>Check-in history</li>
  <li>Recent stats</li>
  <li>Milestone progress</li>
</ul>

<%= link "« Back", to: habit_path(@conn, :index) %>
